/* print.css */
@media print{
header, footer, aside, nav, form, iframe{
  display: none;
}

}
@page {
  size: auto;

    /* this affects the margin in the printer settings */ 
    margin: 3mm 0mm;  
}	