@import url("https://fonts.googleapis.com/css2?family=Lato&family=Arimo:ital,wght@0,400;0,500;1,500&family=Cabin&family=Open+Sans:wght@300;400&family=Poppins&family=Work+Sans&family=Plus+Jakarta+Sans:wght@400;500&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bgcolor: #233142;
  --textcolor: #ececec;
  --bgcolor: #9a3b3b;
  --textcolor: #380000;
  --sectioncolor: #fff6dc;
  --sectioncolor2: #f2ecbe;

  --bgcolor: #9e9fa5;
  --textcolor: black;
  --sectioncolor: #f4f2de;
  --sectioncolor: #ffffff;
  --sectioncolor2: #f4f2de;
  --sectioncolor2: #ffffff;

  --lightgrey: #15133c;
  --bgcolor: #15133c;
  --sectioncolor: #15133c;
  --textcolor: #ffffff;

  --bgcolor:#ffffff;
  --textcolor:#000000
}

html {
  padding: 0;
  margin: 0;
  zoom: 125%;
  background-color: var(--bgcolor);
  background-color: rgb(55, 55, 255);
}
htmll {
  --s: 15px; /* control the size */
  --c1: #dddddd;
  --c2: #ffffff;

  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
  background-attachment: fixed;
}

body {
  color: var(--textcolor);
  display: block;
  max-width: 740px;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  font-family: "Arial", sans-serif;
  font-family: "Arimo", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Cabin", sans-serif; 
  font-family: "Rethink Sans", sans-serif;
  font-size: 12px;
  font-optical-sizing: auto;
  font-weight: 400;
}

.resumebody {
  padding: 0.1rem;
  margin: 0.3rem;
  border-radius: 15px;
  border-color: white;
  border-style:solid;

  background-color: var(--sectioncolor);
  background-color: rgba(252, 252, 252, 1);
}

section {
  display: flex;
  gap: 0rem;
  padding: 0.5rem;
  flex-direction: column;
  margin-bottom: 0.1rem;
  /* box-shadow: inset 0 0 2px rgb(0, 0, 0); */
  /* background-color: var(--sectioncolor); */
  /* background-color: rgba(200, 200, 200, 0.1); */
  /* backdrop-filter: blur(10px); */
  /* background-color: rgba(205, 205, 205, 0.2);  
  backdrop-filter: blur(3px); */
}



section:first-child {
  border-radius: 10px 10px 0 0;
}
section:last-child {
  border-radius: 0 0 10px 10px;
}

@media only screen {
  .subsection {
    /* box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.5); */
    /* border: 1px solid grey; */
  }
  section:hover .subsectionn {
    /* box-shadow: 3px 3px 0px black,4px 4px 0px black,5px 5px 0px black,6px 6px 0px black; */

    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
  }

  section:hover .subsectionn:active {
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
  }
  .subsectionn {
    --s: 5px; /* control the size */
    --c1: #ededed;
    --c2: #ffffff;
    --c3: var(--sectioncolor);

    --_g: var(--c3) 0 120deg, #6f6f6f00 0;
    background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
      conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
      conic-gradient(
        from 60deg at calc(200% / 3),
        var(--c3) 60deg,
        var(--c2) 0 120deg,
        #87878700 0
      ),
      conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
      linear-gradient(
        90deg,
        var(--c1) calc(100% / 6),
        var(--c2) 0 50%,
        var(--c1) 0 calc(500% / 6),
        var(--c2) 0
      );
    background-size: calc(1.732 * var(--s)) var(--s);
  }
}

.subsectionn {
  transition: all 0.1s ease-out;
  padding: 0.4rem;
  background-color: var(--sectioncolor);

  /* border: 1px solid grey; */
  /* animation: shadows 4s infinite; */
}

.subsectionn:first-child {
  background-color: var(--sectioncolor2);
  border-radius: 0.5rem 0.5rem 0 0;
}

.subsectionn:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}

@keyframes shadows {
  0%,
  100% {
    box-shadow: 0px 0px 0px black;
  }
  50% {
    box-shadow: 3px 3px 0px black;
  }
}

.name {
  animation: border-transform 10s linear infinite alternate forwards;
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

a {
  text-decoration: none;
  color: var(--textcolor);
}

.name {
  color: var(--textcolor);
  font-size: 250%;
  line-height: 100%;
  display: block;
  text-align: center;
}

.designation {
  font-size: 110%;
  line-height: 100%;
  display: block;
  text-align: center;
}

.homelocation {
  font-size: 100%;
  line-height: 150%;
  display: block;
  text-align: center;
}

.outer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* .outer {
  width: 100%;
  display: grid;
  gap: 5px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(4, 1fr);
} */

@media screen and (max-width: 720px) {
  html {
    zoom: 100%;
  }
  section {
    padding: 0.5rem;

    border: none;
  }

  .outer {
    gap: 5px;
  }
  .inner {
    flex: 45%;
  }

  /* .inner:nth-child(1),.inner:nth-child(3){
    text-align: right;
    margin-right: 10px;;
  }
  .inner:nth-child(2),.inner:nth-child(4){
    text-align: left;
    margin-left: 10px;
  } */
}

@media screen and (max-width: 360px) {
  html {
    zoom: 100%;
  }
  .outer {
    justify-content: space-between;
  }
  .inner {
    text-align: center;
    flex: column;
  }
}

.inner {
  /* border:1px solid black; */
  text-align: center;
}

/* .info {
  display: block;
  text-align: center;
  color: black;
}

#infotab {
  width: 85%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} */

.companyperiod {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  font-size: inherit;
  margin: 6px 0 2px 0;
  gap: 3px;
  font-weight: bold;
}
.normal {
  font-weight: normal;
  margin: 0 0 2px 0;
}

.company {
  /* border: 1px solid red; */
}

.period {
  /* border: 1px solid red; */
}

@media screen and (max-width: 720px) {
  .companyperiod {
    justify-content: space-between;
  }
}

@media screen and (max-width: 360px) {
  .companyperiod {
    justify-content: space-between;
    flex-direction: column;
  }
}

.company:after {
  font-family: "Font Awesome 5 Free";
  content: "  \f08e";
  /* display: inline-block; */
  font-weight: 900;
}

h1 {
  border: none;
  text-align: center;
  font-weight: normal;
  padding: 0;
  margin: 1rem 0;
}

h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid var(--textcolor);
  /* margin: 0px 0 5px 0; */
  /* padding: 0 0 2px 0; */
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 6px 0 0 0;
}

role {
  font-size: inherit;
  font-weight: normal;
  /* border: 1px solid blue; */
  flex: 60%;
}

rolelocation {
  /* float: right; */
  font-size: inherit;
  font-weight: normal;
  flex: 40%;
  text-align: right;
  /* border: 1px solid blue; */
}

@media screen and (max-width: 360px) {
  rolelocation {
    text-align: left;
  }
}

usedskills {
  font-size: inherit;
  font-weight: normal;
  font-style: italic;
}

rolename::before {
  content: "Role: ";
  font-size: inherit;
  font-weight: bold;
}

.role {
  margin: 3px 0 0 0;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

p,
ul {
  font-size: 100%;
  margin: 0;
}

ul,
ol {
  padding: 0 0 0 1.5rem;
  margin: 0;
}

li {
  line-height: 150%;
  text-align: normal;
  /* change this for tighter spacing */
  /* default 150% */
}

/* assume images are icons */
/* icons for skills/tools */
.info img {
  width: 15px;
}

/* assume images are icons */
/* icons for contact info */
.info a img {
  width: 12px;
}

time {
  float: right;
  font-size: inherit;
  font-weight: bold;
}

location {
  font-weight: normal;
  font-style: italic;
}

h3 i {
  margin-left: 5px;
}

.technicalskills p {
  padding: 3px 0 0 0;
}

.technicalskills table {
  max-width: 100%;
}

.technicalskills table tr td:nth-child(1) {
  text-align: right;
  font-weight: bold;
}

.technicalskills table tr td:nth-child(2) {
  text-align: left;
  font-weight: normal;
}

.technicalskills table tr td:nth-child(1)::after {
  content: ": ";
}

/* ul {
    margin-left:auto; margin-right:auto;
    margin:0 10px 0 0;

} */

.hover-ua {
  display: inline-block;
  position: relative;
}

.hover-ua::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--textcolor);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-ua:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer {
  display: flex;
  justify-content: center;

  text-align: center;
  color: #778899;
  display: flex;
}
