.roller {
  height: 2rem;
  line-height: 2rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #006aff; */
 
}
.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s forwards;
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -2rem;
  }
  50% {
    top: -4rem;
  }
  72.5% {
    top: -6rem;
  }
  /* 100%{
        top: 0;
    } */
}

